body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: #4d555f;
    color: #ffffff;
    margin: 0px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    visibility: hidden;
}

#editor {
    width: 100vw;
    height: 80vh;
    padding: 0px;
}

#TxtA {
    height: clac(100% - 20px);
    font-size: 20px;
    font-weight: bold;
    font-weight: 300;
    border: 0px;
    background: #00000000;
    position: relative;
    top: 0px;
    padding: 0px 20px;
}

#TxtA:focus {
    outline: 0;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-size: 50px;
}

h1 small {
    margin: 0px;
    padding: 0px;
    font-size: 40%
}

a {
    text-decoration: none;
    color: #20c6e8;
}

a:hover {
    color: #287487;
}

.extra input {
    cursor: pointer;
    float: right;
    right: 0px;
    height: 57px;
    border: 0px;
    font-size: 40px;
    background: #00000000;
    color: #ffffff;
    border-radius: 20px 20px 0px 0px;
}

.extra input:hover {
    background: #aaaaaac0;
    color: #303030;
}

nav {
    height: 100%;
}

#selector {
    /*background:#f40000;*/
    width: 100vw;
    height: 57px;
    color: #1d1d1d;
}

ul {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#tabs li{
    height: 100%;
    float: left;
    padding: 0px;
    cursor: pointer;
    font-size: 6vw;
    border-radius: 15px 15px 0px 0px;
    text-decoration-style: none;
    list-style-type: none;
}
#tabs li:not(#exec) {
    display: inline;
}

ul li span {
    padding: 20px;
}

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
}

#tabs {
    padding: 0px;
}

.red {
    background: #fc3c3c;
}

.redh:hover {
    background: #fc3c3c;
}

.green {
    background: #33f754;
}

.greenh:hover {
    background: #33f754;
}

.blue {
    background: #36d7f7;
}

.blueh:hover {
    background: #36d7f7;
}

.purple {
    background: #c860c4;
}

.purpleh:hover {
    background: #c860c4;
}

.cs.redh {
    background: #fc3c3c;
}

.cs.greenh {
    background: #33f754;
}

.cs.blueh {
    background: #36d7f7;
}

.cs.purpleh {
    background: #c860c4;
}

.cs:not(.exec) {
    cursor: default;
}

#srnz {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background: #1e595ed1;
    z-index: 10;
    font-size: 50px;
    font-weight: bolder;
}

#soz {
    font-size: 100px;
}

#tabs li {
    height: 100%;
    float: left;
    text-align: center;
    cursor: pointer;
    font-size: 6vw;
    border-radius: 15px 15px 0px 0px;
}

@media screen and (min-width: 600px) {
    #tabs li {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    *:not(#srnz) {}
    #srnz {
        display: block;
    }
}

#tabs li span {
    padding: 20px;
}

#log{
    display: none;
}